<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>Car Table</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.series}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>